<div class="p-m-3">
  
    <div class="hero-section p-d-flex p-flex-column p-ai-center p-mt-5">
      <h1>Benvenuto su Meteo Forecast</h1>
      <div class="container p-mt-3" style="color: rgb(97, 97, 97);">
        Scopri le previsioni meteo delle principali città del mondo, in tempo reale.
      </div>
      <div class="container-button">
      <button pButton 
              type="button" 
              label="Pagina di Login" 
              class="p-button-raised p-mt-4" (click)="goToLogin()">
            </button>
        </div>
    </div>
  </div>
  