<div class="container card flex align-items-center justify-content-center flex-wrap gap-3">
    <form [formGroup]="formGroup">
        <h1 class="title">Login</h1>
        <div class="container-input">
            <label for="username">Username</label>
            <span class="icon-text">
                <i class="pi pi-user"></i>
                <input id="username" type="text" placeholder="username" formControlName="username" size="30" pInputText>
            </span>
        </div>
        <div class="container-input">
            <label for="password">Password</label>
            <span class="icon-text">
                <i class="pi pi-lock"></i>
                <input id="password" type="password" placeholder="password" formControlName="password" size="30" pInputText>
            </span>
        </div>
        <div class="container-input submit-button">
            <button pButton class="custom-button" label="Login" severity="success" (click)="login()"></button>
        </div>
    </form>
</div>